pipeline/CargarData.json
{
	"name": "CargarData",
	"properties": {
		"activities": [
			{
				"name": "ConsultaRegistros",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsArchivoOrigen",
						"type": "DatasetReference",
						"parameters": {
							"NombreArchivo": {
								"value": "@pipeline().parameters.NombreArchivo",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IteracionInsert",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaRegistros",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaRegistros').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IngestCargaData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[IngestDataOrigen]",
								"storedProcedureParameters": {
									"Código_DIVIPOLA_departamento": {
										"value": {
											"value": "@item().Prop_3",
											"type": "Expression"
										},
										"type": "String"
									},
									"Código_DIVIPOLA_municipio": {
										"value": {
											"value": "@item().Prop_5",
											"type": "Expression"
										},
										"type": "String"
									},
									"Código_ISO_del_país": {
										"value": {
											"value": "@item().Prop_13",
											"type": "Expression"
										},
										"type": "String"
									},
									"Edad": {
										"value": {
											"value": "@item().Prop_7",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Estado": {
										"value": {
											"value": "@item().Prop_12",
											"type": "Expression"
										},
										"type": "String"
									},
									"Fecha_de_diagnóstico": {
										"value": {
											"value": "@item().Prop_18",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Fecha_de_inicio_de_síntomas": {
										"value": {
											"value": "@item().Prop_16",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Fecha_de_muerte": {
										"value": {
											"value": "@item().Prop_17",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Fecha_de_notificación": {
										"value": {
											"value": "@item().Prop_2",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Fecha_de_recuperación": {
										"value": {
											"value": "@item().Prop_19",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"fecha_reporte_web": {
										"value": {
											"value": "@item().Prop_0",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ID_de_caso": {
										"value": {
											"value": "@item().Prop_1",
											"type": "Expression"
										},
										"type": "String"
									},
									"Nombre_del_grupo_étnico": {
										"value": {
											"value": "@item().Prop_22",
											"type": "Expression"
										},
										"type": "String"
									},
									"Nombre_del_país": {
										"value": {
											"value": "@item().Prop_14",
											"type": "Expression"
										},
										"type": "String"
									},
									"Nombre_departamento": {
										"value": {
											"value": "@item().Prop_4",
											"type": "Expression"
										},
										"type": "String"
									},
									"Nombre_municipio": {
										"value": {
											"value": "@item().Prop_6",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pertenencia_étnica": {
										"value": {
											"value": "@item().Prop_21",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Recuperado": {
										"value": {
											"value": "@item().Prop_15",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sexo": {
										"value": {
											"value": "@item().Prop_9",
											"type": "Expression"
										},
										"type": "String"
									},
									"Tipo_de_contagio": {
										"value": {
											"value": "@item().Prop_10",
											"type": "Expression"
										},
										"type": "String"
									},
									"Tipo_de_recuperación": {
										"value": {
											"value": "@item().Prop_20",
											"type": "Expression"
										},
										"type": "String"
									},
									"Ubicación_del_caso": {
										"value": {
											"value": "@item().Prop_11",
											"type": "Expression"
										},
										"type": "String"
									},
									"Unidad_de_medida_de_edad": {
										"value": {
											"value": "@item().Prop_8",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzSqlCasosCovid",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ErrorEjecucion",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IngestCargaData",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertErrorExecution]",
								"storedProcedureParameters": {
									"detalle_error": {
										"value": {
											"value": "@activity('IngestCargaData').Error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzSqlCasosCovid",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"NombreArchivo": {
				"type": "string",
				"defaultValue": "FullCasosCovidColombia"
			}
		},
		"folder": {
			"name": "CasosCovid"
		},
		"annotations": []
	}
}